* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-image: url(http://i.imgur.com/d4emJ2t.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-size: 100%;
}


#logo {
    padding-left: 10%;
    height: 100px;
}

#pokemon-list {
    text-align: center;
    padding-right: 60%;
    height: 50vh;
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: #3c5aa6;
}

a:hover {
    font-size: 150%;
}

div {
    
}