* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-image: url(http://i.imgur.com/d4emJ2t.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-size: 100%;
}

#logo {
    padding-left: 10%;
    height: 100px;
}

#poke-info {
    text-align: center;
    padding-right: 60%;
    height: 50vh;
    overflow-y: auto;
    color: #3c5aa6;
}

ul {
    list-style: none;
}


